*.exe
*.o
*.out
*.wav
*.obj

builder
matcher
matchServer
qbshServer

# output image for visualization
*.bmp

# landmark dump
*.lm

# landmark of multiple songs
*.lms
tmp_*_*Key
tmp_*_*Value

# landmark database file
*.lmdb
songList.txt
songNameList.txt
songSrcList.txt
landmarkKey
landmarkValue

# python cache
*.pyc

# log files
*.log

# results
dat/
